node_modules/
.pnpm-store/
.next/
dist/
coverage/
bin/
tmp/
storage/
db-data/
.redis-data/
.minio-data/
*.exe
*.log
*.out
*.test
.env
.env.local
.env.production
.env.staging
!.env.example
Thumbs.db
.DS_Store

